<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/prettyPhoto.css">
  </head>
  <body>
  	<div id="content" data-easytabs="true">
  		{{content}}
  	</div>

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/libs/respond.min.js"></script>
    <script src="js/libs/jquery.easytabs.min.js"></script>
    <script src="js/libs/jquery.prettyPhoto.js"></script>
    <!-- <script src="js/libs/jquery.validate.min.js"></script> -->
    <script src="js/script.js"></script>
  </body>
</html>